import url( );
.container{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.container{
    position: absolute;
    top: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    position: absolute;
    background: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgb(0, 255,13);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: animate 3s ease-in-out calc(var(--i) * 0.10s) infinite;
    box-shadow: 0 0 15px rgb(124, 124 124);
}

@keyframes animate{
    0%,
    100% {
        transform: rotateX(70deg) translateZ(50px) translateY(0);
        filter: hue-rotate();
    }
    50%{
        transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
    }
}
 /* Footer Styles */
        footer {
            margin-top: auto;
            background: #111;
            color: white;
            width: 100%;
            padding: 20px;
            text-align: center;
        }

        .social-icons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
        }

        .social-icons a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            transition: 0.3s ease-in-out;
        }

        .social-icons a:hover {
            color: #ffcc00;
            transform: scale(1.2);
        }
